<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/contact.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/css.gg/icons/icons.css"
      rel="stylesheet"
    />
    <title>Kontaktet</title>
  </head>
  <div class="container">
    <h1 class="brand"><span>Na kontaktoni</span></h1>

    <div class="wrapper">
      <div class="company-info">
        <h3>Movify</h3>

        <ul>
          <li>
            <i class="gg-track"></i>&nbsp; Rruga e Elbasanit, Fakulteti Ekonomik
          </li>
          <li><i class="gg-phone"></i>&nbsp; +355 68 55 55 475</li>
          <li><i class="gg-mail"></i>&nbsp; movify@hotmail.com</li>
        </ul>
      </div>

      <div class="contact">
        <h3>Na shkruani</h3>

        <form id="contact-form">
          <p>
            <label>Emri</label>
            <input type="text" name="name" id="name" required />
          </p>

          <p>
            <label>Mbiemri</label>
            <input type="text" name="name" id="name" required />
          </p>

          <p>
            <label>E-mail juaj</label>
            <input type="email" name="email" id="email" required />
          </p>

          <p>
            <label>Numri telefonit</label>
            <input type="text" name="phone" id="phone" />
          </p>

          <p class="full">
            <label>Mesazhi</label>
            <textarea name="message" rows="5" id="message"></textarea>
          </p>

          <p class="full">
            <button type="submit">Dërgo</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</html>
