<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movify - Movies & Serials</title>
    <link rel="stylesheet" type="text/css" href="../styles/shared.css" />
    <link rel="stylesheet" type="text/css" href="../styles/home.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="../images/logo.png" alt="logo" />
        </div>
        <ul>
          <li>
            <a href="home.html"
              ><img
                src="../images/movie_logo.png"
                alt="movies"
                class="navbar_logo"
              />Filma</a
            >
          </li>
          <li>
            <a href="series.html"
              ><img
                src="../images/series_logo.png"
                alt="series"
                class="navbar_logo"
              />Seriale</a
            >
          </li>
          <li>
            <a href="favourite.html" class="selected"
              ><img
                src="../images/white_heart.png"
                alt="favourites"
                class="navbar_logo"
              />Favoritët</a
            >
          </li>
        </ul>
        <div class="search_profile">
          <input
            type="text"
            id="search_input"
            onkeypress="handleSearchKeyPress(event)"
            placeholder="Search"
          />
          <img
            src="../images/search.png"
            alt="search"
            id="search_icon"
            class="search_profile_logo"
            onclick="searchMovies()"
          />
          <a href="./profile.html"
            ><img
              src="../images/user.png"
              alt="profile"
              class="search_profile_logo"
          /></a>
        </div>
        <div class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </nav>
      <aside class="menubar">
        <ul>
          <li>
            <a href="home.html"
              ><img
                src="../images/movie_logo.png"
                alt="movies"
                class="navbar_logo"
              />Filma</a
            >
          </li>
          <li>
            <a href="series.html"
              ><img
                src="../images/series_logo.png"
                alt="series"
                class="navbar_logo"
              />Seriale</a
            >
          </li>
          <li>
            <a href="favourite.html" class="selected"
              ><img
                src="../images/white_heart.png"
                alt="favourites"
                class="navbar_logo"
              />Favoritët</a
            >
          </li>
        </ul>
      </aside>
    </header>
    <main class="container">
      <section class="movie_section">
        <h2>FILMAT E PREFERUAR</h2>
      </section>
    </main>
    <footer class="footer">
      <section class="footer-1">
        <h2 id="about">Help & Policy</h2>
        <ul>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="../views/settings.html">Settings</a></li>
          <li><a href="./contact.html">Contact Us</a></li>
        </ul>
      </section>
      <section class="footer-2">
        <h2 id="contact">FOLLOW US</h2>
        <div class="social-icons">
          <img src="../images/twitter-sign.png" alt="twitter" />
          <img src="../images/instagram.png" alt="instagram" />
          <img src="../images/facebook.png" alt="facebook" />
          <img src="../images/youtube.png" alt="youtube" />
        </div>
      </section>
      <section class="powered">
        <h2>&copy; Modify| All rights reserved</h2>
      </section>
    </footer>
    <script src="../scripts/script.js"></script>
    <script src="../scripts/favourite.js"></script>
  </body>
</html>
