<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/shared.css" />
    <link rel="stylesheet" href="../styles/settings.css" />
    <title>Settings</title>
  </head>
  <body>
    <!--header ku kemi navbarin-->
    <header>
      <nav>
        <div class="logo">
          <img src="../images/logo.png" alt="logo" />
        </div>
        <ul>
          <li>
            <a href="home.html" class="selected"
              ><img
                src="../images/movie_logo.png"
                alt="movies"
                class="navbar_logo"
              />Filma</a
            >
          </li>
          <li>
            <a href="series.html"
              ><img
                src="../images/series_logo.png"
                alt="series"
                class="navbar_logo"
              />Seriale</a
            >
          </li>
          <li>
            <a href="favourite.html"
              ><img
                src="../images/white_heart.png"
                alt="favourites"
                class="navbar_logo"
              />Favoritët</a
            >
          </li>
        </ul>
        <div class="search_profile">
          <input
            type="search"
            id="search_input"
            onkeypress="handleSearchKeyPress(event)"
            placeholder="Search"
          />
          <img
            src="../images/search.png"
            alt="search"
            id="search_icon"
            class="search_profile_logo"
            onclick="searchMovies()"
          />
          <a href="../views/profile.html"
            ><img
              src="../images/user.png"
              alt="profile"
              class="search_profile_logo"
          /></a>
        </div>
        <div class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </nav>
      <aside class="menubar">
        <ul>
          <li>
            <a href="home.html" class="selected"
              ><img
                src="../images/movie_logo.png"
                alt="movies"
                class="navbar_logo"
              />Filma</a
            >
          </li>
          <li>
            <a href="series.html"
              ><img
                src="../images/series_logo.png"
                alt="series"
                class="navbar_logo"
              />Seriale</a
            >
          </li>
          <li>
            <a href="favourite.html"
              ><img
                src="../images/white_heart.png"
                alt="favourites"
                class="navbar_logo"
              />Favoritët</a
            >
          </li>
        </ul>
      </aside>
    </header>
    <main id="S_main">
      <section id="languages_s">
        <h2>Gjuha</h2>
        <div class="container_s">
          <!--ketu do te jete dropdown menuja per gjuhet qe do perseritet disa here
        ne varesi te perdorimit-->
        <label class="left" for="languages1">Nderfaqja</label>
        <select class="right select" id="languages1" name="languages" tabindex="1">
          <option value="english">Anglisht</option>
          <option value="spanish">Spanjisht</option>
          <option value="french">Frengjisht</option>
          <option value="german">Gjermanisht</option>
        </select>
    </div>
    <div class="container_s">
        <label class="left" for="languages2">Titrat kryesore</label>
        <select class="right select" id="languages2" name="languages" tabindex="2">
          <option value="deactivated">Te caktivizuara</option>
          <option value="english">Anglisht</option>
          <option value="spanish">Spanjisht</option>
          <option value="french">Frengjisht</option>
          <option value="german">Gjermanisht</option>
        </select>
    </div>
    <div class="container_s">
        <label class="left" for="languages3">Audio kryesore</label>
        <select class="right select" id="languages3" name="languages" tabindex="3">
          <option value="english">Anglisht</option>
          <option value="spanish">Spanjisht</option>
          <option value="french">Frengjisht</option>
          <option value="german">Gjermanisht</option>
        </select>
    </div>
    </section>
    <section>
        <h2>Performanca & Stabiliteti</h2>
        <div class="container_s">
          <!--ketu kemi gjithe fushat me toggle button me 2 gjendje
          ku checkboxi jone do jete i fshehur ndersa te tagu span do ndertohet pamja
        e toggle buttonit-->
            <label class="left" for="auto_pb">Luaj automatikisht episodin tjeter</label>
            <label class="toggle right">
                <input type="checkbox" name="auto_pb" id="auto_pb">
                <span class="slider" tabindex="4"></span>
            </label> 
        </div>
    <div class="container_s">
        <label class="left" for="data_saver">Data saver</label>
        <label class="toggle right">
            <input type="checkbox" name="data_saver" id="data_saver">
            <span class="slider" tabindex="5"></span>
        </label> 
    </div>
    <div class="container_s">
        <label class="left" for="report">Raportime gjate problemeve te sistemit</label>
        <label class="toggle right">
            <input type="checkbox" name="report" id="report">
            <span class="slider" tabindex="6"></span>
        </label>    
    </div>
    <div class="container_s">
        <label class="left" for="zoom">Zmadho pamjen ne madhesine e ekranit</label>
        <label class="toggle right">
            <input type="checkbox" name="zoom" id="zoom">
            <span class="slider" tabindex="7"></span>
        </label> 
    </div>
</section>
</section>
<section>
  <!--ne kete seksion do kemi 3 fusha te klikueshme qe na dergojne secila ne faqe te tjera
  sic eshte profili, kontakti dhe termat dhe kushtet-->
    <h2>Llogaria ime</h2>
    <div class="container_s" onclick="window.location.href='../views/profile.html'" tabindex="8">
        <p>Profili</p>
    </div>
    <div class="container_s" onclick="window.location.href='../views/termsCond.html'" tabindex="9">
        <p>Termat dhe kushtet</p>
    </div>
    <div class="container_s" onclick="window.location.href='../views/contact.html'" tabindex="10">
        <p>Na kontakto</p>
    </div>
    <!--butoni logout na dergon te forma e loginit-->
    <button id="logout" onclick="window.location.href='./logIn.html'" tabindex="11">Shkycuni</button>
</section>
  </main>
    <!--footer-->
    <footer class="footer">
      <section class="footer-1">
        <h2 id="about">Help & Policy</h2>
        <ul>
          <li><a href="./termsCond.html">Terms & Conditions</a></li>
          <li>
            <a href="./settings.html" class="selected-footer">Settings</a>
          </li>
          <li><a href="./contact.html">Kontaktet</a></li>
        </ul>
      </section>
      <section class="footer-2">
        <h2 id="contact">FOLLOW US</h2>
        <div class="social-icons">
          <a href="https://twitter.com/"
            ><img src="../images/twitter-sign.png" alt="twitter"
          /></a>
          <a href="https://www.instagram.com/"
            ><img src="../images/instagram.png" alt="instagram"
          /></a>
          <a href="https://www.facebook.com"
            ><img src="../images/facebook.png" alt="facebook"
          /></a>
          <a href="https://www.youtube.com/"
            ><img src="../images/youtube.png" alt="youtube"
          /></a>
        </div>
      </section>
      <section class="powered">
        <h2>&copy; Modify| All rights reserved</h2>
      </section>
    </footer>
    <script src="../scripts/script.js"></script>
  </body>
</html>
