<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/homePage.css" />
    <link rel="stylesheet" href="../styles/signUp.css" />
    <title> Create your Account</title>
</head>
<body>
<header>
    <header>
        <nav id="navbar">
          <aside id="important_access_navbar">
            <a href="#" id="login"><img src="../images/user.png" />Log In</a>
            <i class="bi bi-list toggle-for-mobile" style="float: right;"></i>
          </aside>
        </nav>
      </header>
</header>
</body>
</html>