.selected {
  border-bottom-style: none;
  border-radius: 5px;
  background-color: #3a3a3a;
}
.container {
  min-height: 80vh;
}
/*PARALLAX EFFECT*/
.parallax {
  background-image: url("../images/parallax.jpg");
  height: 500px;
  /*create parallax effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

/*Teksti qe shfaqet me emrin e userit*/
#user-div {
  font-size: 24px;
  color: #fff5ee;
  margin: 10px 20px;
  text-align: center;
}

/*stilizim i tabeles*/
table,
caption {
  background-color: lightgrey;
  text-align: center;
  border-collapse: separate;
  border-spacing: 10px;
}

/*data e filmit*/
#movieDate {
  border-bottom: 1px solid black;
  border-radius: 5px;
  background-color: #e0ebeb;
}

caption {
  font-weight: bold;
}

#calendar {
  float: right;
  margin-right: 3%;
  margin-top: 3%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

#calendar_text {
  text-align: center;
  text-decoration: underline;
  color: rebeccapurple;
  margin-bottom: 7px;
}

#calendar p {
  margin-bottom: 7px;
  text-align: center;
  font-style: italic;
  color: #7a0a11;
}

#calendar > p > span {
  color: black;
  font-style: normal;
}

/*Count Down*/
#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#countdown ul li {
  display: inline-block;
  font-size: 0.7em;
  list-style-type: none;
  padding: 3px;
  text-transform: uppercase;
  background-color: #eaf6f6;
  border-radius: 5px;
  border: 1px solid black;
}
