* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #262626;
  text-align: center;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#navbar ul li,
#important_access_navbar {
  padding: 8px;
}

#navbar ul li a {
  display: block;
  padding: 5px 20px;
  color: #fff;
  text-decoration: none;
}

.selected {
  border-bottom: 1px none black;
  border-radius: 5px;
  background-color: #3a3a3a;
}

li a:hover {
  border-bottom: 1px solid #fff;
}

#logo {
  position: absolute;
  width: 100px;
  height: auto;
  left: 30px;
  top: 5px;
}

#logo:hover,
#search_icon {
  cursor: pointer;
}

.navbar_logo,
#important_access_navbar img {
  position: relative;
  width: 20px;
  height: auto;
  right: 5px;
  top: 3px;
}

#important_access_navbar {
  position: absolute;
  top: 5px;
  right: 30px;
  align-items: center;
}

#important_access_navbar img {
  margin-left: 10px;
}

#search_input {
  display: none;
  padding: 5px;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 10px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.parallax {
  background-image: url("images/parallax.jpg");
  height: 500px;
  /*create parallax effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: -1;
}
table {
  background-color: lightgrey;
  text-align: center;
  border-collapse: separate;
  border-spacing: 10px;
}
#calendar {
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}
main {
  height: 3000px;
}

.loader {
  position: relative;
  width: 50px;
  height: 50px;
}

.loader {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: #3498db; /* Blue background color for the circle */
  border-radius: 50%; /* To make it circular */
}

.loader-piece {
  position: absolute;
  width: 50%;
  height: 100%;
}

.loader-piece:nth-child(odd) {
  background-color: #fff; /* White color for the pieces */
}

.loader-piece.red {
  background-color: #ff0000; /* Red color for the pieces */
}
