.container {
  display: flex; /*Flex sepse seksionet do ndahen ne dy pjese, njeri ne te majte, tjetri djathtas*/
  justify-content: center;
  background-color: #f2f2f2;
  min-height: 80vh;
}

.container h2 {
  margin-bottom: 0.5em;
  color: #ad360b;
}
.container iframe {
  width: 100%;
  border: none;
  border-radius: 2px;
}
/*stilizim i seksionit ne te majte*/
#side {
  flex: 1;
  margin-top: 0px;
  padding: 1.5em;
  border-right: 1px solid rgb(58, 58, 58);
}

/*Pjesa ku do te shfaqet traileri i filmit*/
#movie_section {
  margin-top: 5%;
  margin-left: 1.5%;
  flex: 2;
  padding: 1.5em;
  position: relative;
}

.below-trailer,
.like-comment {
  display: flex; /* flex per ti shfaqur elementet horizontalisht*/
  align-items: center;
  float: right;
  flex-wrap: wrap;
}

.below-trailer #description {
  flex: 1;
  margin-right: 10px;
}
/*inputi i komentit*/
.like-comment input {
  flex: 1;
  height: 40px;
  max-width: calc(100% - 90px);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  margin-right: 10px;
}
/*imazhi i like ose dislike*/
.like-comment img {
  width: 25px;
  height: auto;
  margin: 0.5em;
}

.comments {
  margin-top: 3em;
}

.comments h3 {
  color: #ad360b;
  margin-bottom: 10px;
}

.comments #comments-list {
  max-height: 100px; /* Per ta bere pjesen e komentit scrollable */
  overflow-y: scroll; /* Lejon te besh scroll vertikalisht*/
  list-style-type: none;
}
.comments #comments-list::-webkit-scrollbar {
  width: 10px;
}

.comments #comments-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
/* Komenti individual */
.comment {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.comment li {
  margin: 0;
}
/*Responsiviteti*/
@media screen and (max-width: 768px) {
  #side {
    display: none;
  }

  #movie_section .below-trailer {
    flex-direction: column;
  }
  .like-comment input {
    width: 20rem;
    margin-right: 0;
  }

  .like-comment img {
    margin-right: 0.5em; /* Hapesire mes ikonave */
  }
}
