.container {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

.container h2 {
  margin-bottom: 0.5em;
  color: #ad360b;
}
.container iframe {
  width: 100%;
  border: none;
  border-radius: 2px;
}

/*.container iframe:nth-child(3) {
  width: 100%;
  border: none;
  border-radius: 2px;
}*/
#side {
  flex: 1;
  margin-top: 0px;
  padding: 1.5em;
  border-right: 1px solid rgb(58, 58, 58);
}

#movie_section {
  margin-top: 5%;
  margin-left: 1.5%;
  flex: 2;
  padding: 1.5em;
  position: relative;
}

.below-trailer,
.like-comment {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Align items vertically */
  float: right;
  flex-wrap: wrap;
}

.below-trailer #description {
  flex: 1; /* Allow description to take up remaining space */
  margin-right: 10px; /* Add some space between description and input */
}

.like-comment input {
  flex: 1; /* Allow input to grow and fill available space */
  height: 40px;
  max-width: calc(100% - 90px); /* Limit input width to leave space for icons */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  margin-right: 10px;
}

.like-comment img {
  width: 25px;
  height: auto;
  margin: 0.5em;
}

.comments {
  margin-top: 3em;
}

.comments h3 {
  color: #ad360b;
  margin-bottom: 10px;
}

.comments #comments-list {
  max-height: 100px; /* Limit the height of the comments list */
  overflow-y: scroll; /* Enable vertical scroll if the content exceeds the height */
  list-style-type: none;
}
.comments #comments-list::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.comments #comments-list::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 5px; /* Border radius of the thumb */
}
/* Style for individual comment */
.comment {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.comment li {
  margin: 0;
}

@media screen and (max-width: 768px) {
  #side {
    display: none;
  }

  #movie_section .below-trailer {
    flex-direction: column;
  }
  .like-comment input {
    width: 20rem; /* Allow input to take full width on smaller screens */
    margin-right: 0; /* Remove margin on smaller screens */
  }

  .like-comment img {
    margin-right: 0.5em; /* Add some space between icons on smaller screens */
  }
}
