/*Design per gjithe html-ne*/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.selected-footer {
  color: #666 !important;
  border-bottom: 1px solid #fff;
}

/*Navbar CSS*/
nav {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  z-index: 1;
}
/*logoja e kompanise*/
nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 25px;
  width: auto;
  margin-right: 10px;
  cursor: pointer;
}
/*Seksioni i searchit dhe ikona e profilit*/
.search_profile {
  display: flex;
  align-items: center;
}

.search_profile_logo {
  width: 18px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

#search_input {
  padding: 5px;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 10px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  margin: 10px;
}
/*3 elementet e listes ku zgjedh:film, serial, te preferuarit*/
nav ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Add this line */
  align-items: center;
}

nav ul li {
  padding: 0.5rem;
}

/*Linqet e navbar, menubar*/
nav ul li a,
.menubar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 20px;
  border-radius: 5px;
}

nav ul li a:hover,
.menubar ul li a:hover {
  border-bottom: 1px solid #fff;
}

.navbar_logo {
  position: relative;
  width: 15px;
  height: auto;
  right: 5px;
  top: 3px;
}
/*Hamburger*/
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: #fff;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

/*MENU BAR CSS*/
.menubar {
  position: absolute;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: 100vh;
  padding: 20% 0;
  background: #262626;
  transition: all 0.5s ease-in;
  z-index: 2;
}

.active {
  left: 0;
  box-shadow: #fff 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}

.menubar ul li {
  margin-bottom: 32px;
}

/*Responsiviteti*/
@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
  .menubar {
    display: flex;
  }
  .search_profile {
    margin-left: auto;
  }
}
/*FOOTER*/
.footer {
  background-color: #262626;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  position: relative;
  bottom: 0px;
}

.footer-1,
.footer-2 {
  flex: 1;
  text-align: center;
}

.footer-1 h2,
.footer-2 h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 1px 1px 2px pink;
}

.footer-1 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-1 ul li {
  display: inline;
  margin-right: 10px;
}

.footer-1 ul li:last-child {
  margin-right: 0;
}

.footer-1 ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-1 ul li a:hover {
  color: #666;
  border-bottom: 1px solid #fff;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.footer-2 img {
  display: inline-block;
  margin-left: 0.6rem;
  width: 1.4rem;
  height: auto;
}

.footer-2 img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.powered {
  flex-basis: 100%;
  margin-top: 20px;
  text-align: center;
}

.powered h2 {
  font-weight: lighter;
  font-size: 14px;
  color: #fff;
}

/*MOVIE CSS*/
.movie_section > h2 {
  width: 100%;
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
}

.movie_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f9f9f9;
}

/* Stilizimi per filmat individual */
.movie {
  width: 15em;
  margin: 0 1.5rem 1.5rem 1.5rem;
  background-color: #f2f2f2;
  border-radius: 2%;
  text-align: center;
}

.movie a {
  text-decoration: none;
}

.movie h5 {
  padding: 0.2em;
  font-style: italic;
  color: brown;
}
/* Stilizimi per imazhet e filmave */
.movie-photo {
  width: 100%;
  height: auto;
}

/* Titujt e filmave */
.movie-content figcaption {
  margin-top: 10px;
  font-weight: bold;
  color: #262626;
}

.movie ul {
  margin: 10px 0 0;
  padding: 0;
  list-style-type: none;
}

.movie ul li {
  display: inline-block;
  padding: 0.1em 0.2em;
}

.movie a {
  text-decoration: none;
  color: inherit;
}

.movie a:hover {
  opacity: 0.8;
}

.movie div {
  margin: 10px 0 0;
  padding: 0;
}

.movie div span {
  display: inline-block;
  padding: 0.1em 0.2em;
  font-weight: 300;
}

.movie div span:nth-child(2):before {
  content: "• ";
}

@media screen and (min-width: 791px) {
  .menubar {
    display: none;
  }
  nav ul {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-1,
  .footer-2 {
    margin-bottom: 20px;
  }
}
