:root{
    --save-button-color: #0c8e65;
    --upload-button-color:#896e1d;
}

#SU_body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #d6d6d6;
    }

.SU_header{
    width: 100%;
}
nav{
    justify-content: flex-end;
}

.logIn{
    text-decoration: none;
    color: #fff;
    font-size: 95%;
    font-weight: 400;
    padding: 5px 20px;
    border-radius: 5px;
}

#SU_main {
        background-color: #ECECEC;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 2% 5% 5% 5%;
        width: 50%;
    }
    
    #SU_main h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    #SU_main>form>div {
        margin-bottom: 50px;

    }
    
    #SU_main>form>div>label {
        font-weight:550;
    }
    
    #SU_main>form>div>.text_inputs{
        width: 100%;
        padding: 10px;
        border:0;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
        background-color: transparent;
    }

input[type=file]{ 
    display: none;
 }
 
label[for='upload-input']{
	justify-items: center;
	align-content: center;
	color: var(--upload-button-color);
	border: .2em solid var(--upload-button-color);
	background: transparent;
    height: 2.7em;
    padding: 0.3em 1.5em;
	color: var(--upload-button-color);
	border-radius: 3em;
    margin-top: 15px;
	transition: 0.25s;
	&:hover, &:focus, &:active {
		background: var(--upload-button-color);
		color: #fff;
	}
}

#default_profile_pic{
    background-color: black;
    height: 4.5em;
    width: 4.5em;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 50%;
}

#create_account{
    width: 20em;
    padding: 10px;
    background-color: transparent;
    border: 3.5px solid var(--save-button-color);
    border-radius: 2em;
    color: var(--save-button-color);
    font-size: 18px;
    font-weight: 600;
    transition: 0.25s;
    &:hover, &:focus, &:active {
		background: var(--save-button-color);
		color: #fff;
	}
}
#input-div, .aligned_inputs{
    display: flex; flex-direction: row;
    align-items: center;
}

.aligned_inputs *{
    margin-top: 0.7em;
    margin-right: 0.7em;
}
#butoni{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    #input-div{
        flex-direction: column;
    }
    #SU_main{
            width: 80%;
    }

}

.error_msg{
    color: red;
    font-size: 12px;
    display: none;
}